[submodule "bundle/ack"]
	path = bundle/ack
	url = https://github.com/mileszs/ack.vim.git
[submodule "bundle/autoclose"]
	path = bundle/autoclose
	url = https://github.com/vim-scripts/AutoClose.git
[submodule "bundle/gundo"]
	path = bundle/gundo
	url = https://github.com/sjl/gundo.vim.git
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "bundle/nerdcommenter"]
	path = bundle/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter.git
[submodule "bundle/pydoc"]
	path = bundle/pydoc
	url = https://github.com/fs111/pydoc.vim.git
[submodule "bundle/tasklist"]
	path = bundle/tasklist
	url = https://github.com/vim-scripts/TaskList.vim.git
[submodule "bundle/colortoggle"]
	path = bundle/colortoggle
	url = https://github.com/saghul/vim-colortoggle.git
[submodule "bundle/fugitive"]
	path = bundle/fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "bundle/cfi"]
	path = bundle/cfi
	url = https://github.com/tyru/current-func-info.vim.git
[submodule "bundle/solarized"]
	path = bundle/solarized
	url = https://github.com/altercation/vim-colors-solarized.git
[submodule "bundle/gist"]
	path = bundle/gist
	url = https://github.com/mattn/gist-vim.git
[submodule "bundle/webapi"]
	path = bundle/webapi
	url = https://github.com/mattn/webapi-vim.git
[submodule "bundle/flake8"]
	path = bundle/flake8
	url = https://github.com/nvie/vim-flake8.git
[submodule "bundle/ctrlp"]
	path = bundle/ctrlp
	url = https://github.com/ctrlpvim/ctrlp.vim.git
[submodule "bundle/tagbar"]
	path = bundle/tagbar
	url = https://github.com/majutsushi/tagbar.git
[submodule "bundle/airline"]
	path = bundle/airline
	url = https://github.com/bling/vim-airline.git
[submodule "bundle/tlib"]
	path = bundle/tlib
	url = https://github.com/tomtom/tlib_vim.git
[submodule "bundle/addon-mw-utils"]
	path = bundle/addon-mw-utils
	url = https://github.com/MarcWeber/vim-addon-mw-utils.git
[submodule "bundle/cython"]
	path = bundle/cython
	url = https://github.com/tshirtman/vim-cython.git
[submodule "bundle/python-combined"]
	path = bundle/python-combined
	url = https://github.com/mitsuhiko/vim-python-combined.git
[submodule "bundle/rust"]
	path = bundle/rust
	url = https://github.com/wting/rust.vim.git
[submodule "bundle/unite"]
	path = bundle/unite
	url = https://github.com/Shougo/unite.vim.git
[submodule "bundle/nim"]
	path = bundle/nim
	url = git@github.com:zah/nimrod.vim.git
[submodule "bundle/ycm"]
	path = bundle/ycm
	url = https://github.com/Valloric/YouCompleteMe.git
[submodule "bundle/toml"]
	path = bundle/toml
	url = https://github.com/cespare/vim-toml.git
[submodule "bundle/js-syntax"]
	path = bundle/js-syntax
	url = https://github.com/jelera/vim-javascript-syntax.git
[submodule "bundle/snippets"]
	path = bundle/snippets
	url = https://github.com/honza/vim-snippets.git
[submodule "bundle/ultisnips"]
	path = bundle/ultisnips
	url = https://github.com/SirVer/ultisnips.git
[submodule "bundle/tern"]
	path = bundle/tern
	url = https://github.com/marijnh/tern_for_vim.git
[submodule "bundle/unimpaired"]
	path = bundle/unimpaired
	url = https://github.com/tpope/vim-unimpaired.git
[submodule "pymodules/flake8"]
	path = pymodules/flake8
	url = https://gitlab.com/pycqa/flake8.git
[submodule "pymodules/mccabe"]
	path = pymodules/mccabe
	url = https://github.com/PyCQA/mccabe.git
[submodule "pymodules/pycodestyle"]
	path = pymodules/pycodestyle
	url = https://github.com/PyCQA/pycodestyle.git
[submodule "pymodules/pyflakes"]
	path = pymodules/pyflakes
	url = https://github.com/pyflakes/pyflakes.git
[submodule "bundle/editorconfig"]
	path = bundle/editorconfig
	url = https://github.com/editorconfig/editorconfig-vim.git
